    @font-face {
        font-family: 'SovietStyleCyrilic';
        src: url('../fonts/SovietStyleCyrilic-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    h1 {
      text-align: center;
      margin-bottom: 10px;
      font-family: 'SovietStyleCyrilic', sans-serif;
      font-size: 60px;
    }

    body {
      background: #f4f4f4 url("../images/background_3.jpg") repeat;
      background-size: cover; /* или contain, если нужно подогнать */
    }

    body::before {
      content: "";
      position: fixed;
      inset: 0;
      background: url("../images/background_3.jpg") no-repeat center center fixed;
      background-size: cover;
      opacity: 0.3;
      z-index: -1;
    }

    section {
      margin-bottom: 60px;
    }

    .block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      align-items: center;
    }

    .carousel {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 600px;
    }

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
      opacity: 0;
      transform: translateX(100%);
    }

    .slide.active {
      opacity: 1;
      transform: translateX(0);
    }

    .img-wrapper {
      position: relative;
      width: 95%;
      height: 100%;
      margin: 0 auto;
    }

    .img-wrapper img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }

    .fullsize img {
      width: auto !important;
      height: auto !important;
      max-width: none !important;
      max-height: none !important;
      object-fit: unset !important;
    }

    .caption {
      position: absolute;
      top: 85%;
      right: -5%;
      transform: translate(-50%, 0);
      text-align: right;   /* текст по правому краю */
      color: white;
      background: rgba(0, 0, 0, 0.6); /* или rgba для полупрозрачного фона */
      padding-right: 0px;       /* отступы внутри блока */
      font-size: 30px;
      display: flex;
      align-items: flex-start;   /* вертикальное выравнивание текста */
      justify-content: flex-end; /* горизонтальное выравнивание текста */
    }

    .dots {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 14px;
    }

    .dot {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #e0e0e0;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .dot.active {
      background: #1f1f1f;
    }

    .map {
      width: 95%;
      height: 600px;
      border-radius: 10px;
      margin: 0 auto;
    }

    .big-text {
      font-size: 25px;
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      .block {
        grid-template-columns: 1fr;
        gap: 60px;
      }

      .carousel,
      .map {
        height: 400px;
      }
    }
